# ansible-homelab/ansible.cfg
[defaults]
inventory          = inventory/hosts.yml
roles_path         = roles
collections_paths  = ~/.ansible/collections

# Output
stdout_callback    = default
result_format      = yaml
callbacks_enabled  = ansible.posix.profile_tasks

# SSH behaviour
host_key_checking  = False
pipelining         = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
